@reference "tailwindcss";

.booking-closed {
    @apply bg-slate-100 w-fit px-1 rounded-md border border-slate-400 select-none cursor-pointer text-slate-950 opacity-90;
}

.booking-open {
    @apply bg-green-100 w-fit px-1 rounded-md border border-green-400 select-none cursor-pointer text-green-950 opacity-90;
}

.booking-cancelled {
    @apply bg-orange-100 w-fit px-1 rounded-md border border-orange-400 select-none cursor-pointer text-orange-950 opacity-90;
}